* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  border: none;
  background-color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #ef7819;
  color: #fff;
  letter-spacing: 2px;
}

.heading {
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.heading span {
  color: #ef7819;
}

.row {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 991px) {
  .row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .row {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.row .col {
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  color: #fff;
}

.row .col img {
  width: 100%;
}

.row .col .icons {
  position: absolute;
  top: 20px;
  right: -40px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.row .col .icons i {
  display: block;
  color: #000;
  margin: 20px auto;
  font-size: 20px;
  z-index: 999;
}

.row .col .icons i::before {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .col .icons i::before :hover {
  background-color: #ef7819;
}

.row .col:hover .icons {
  right: 20px;
}

.row .col h4 {
  margin: 10px 0;
  font-size: 26px;
}

.row .col span {
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;
}

.row .col span .line {
  font-weight: lighter;
  text-decoration: line-through;
  color: #ef7819;
  font-size: 16px;
}

.container {
  padding: 0 7%;
  margin: 0 auto;
}

body {
  background-color: #141215;
  overflow-x: hidden;
}

nav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  nav .container {
    padding: 0;
  }
}

@media (max-width: 820px) {
  nav .container {
    padding: 0 3%;
  }
}

nav .container div:first-child i {
  color: #ef7819;
  -webkit-animation: upDown 3s linear infinite;
          animation: upDown 3s linear infinite;
}

nav .container i {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 10px;
  font-size: 24px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .container i:hover {
  color: #ef7819;
  cursor: pointer;
}

@-webkit-keyframes upDown {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes upDown {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

nav .container span {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

nav .container .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 820px) {
  nav .container .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
    position: absolute;
    top: -270px;
    left: 0;
    background-color: #222;
    width: 100%;
    padding: 20px;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
}

nav .container .list li {
  margin: 0 15px;
  font-size: 18px;
}

nav .container .list li a {
  color: #fff;
}

nav .container .list li a:hover, nav .container .list li a.active {
  color: #ef7819;
}

nav .container .open {
  top: 70px;
}

nav .container .fa-bars {
  display: none;
}

@media (max-width: 820px) {
  nav .container .fa-bars {
    display: inline-block;
  }
}

nav.active_nav {
  background-color: #222;
}

.landing {
  height: 100vh;
  margin-bottom: 20px;
}

.landing .img.active {
  position: relative;
  top: 0;
  opacity: 1;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  height: 100vh;
}

.landing .img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100vh;
}

.landing .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.landing .img .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 100%;
}

.landing .img .content h1 {
  font-size: 50px;
}

@media (max-width: 450px) {
  .landing .img .content h1 {
    font-size: 30px;
  }
}

.landing .img .content h3 {
  margin: 25px 0;
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 450px) {
  .landing .img .content h3 {
    font-size: 20px;
  }
}

.landing .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.landing .control .prev i,
.landing .control .next i {
  font-size: 40px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.landing .control .prev i:hover,
.landing .control .next i:hover {
  color: #ef7819;
}

.landing .control .prev i {
  position: absolute;
  left: 20px;
}

.landing .control .next i {
  position: absolute;
  right: 20px;
}

.landing .control .disable {
  display: none;
}

.about-us {
  margin-top: 20px;
  background-image: url(../img/about-bt.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .container s div:first-child {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 767px) {
  .about-us .container s div:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.about-us .container h1 {
  font-size: 30px;
  color: #ef7819;
}

.about-us .container p {
  margin: 30px 0;
  color: #fff;
  line-height: 2;
  font-size: 18px;
}

.contant {
  margin-top: 40px;
}

.contant .d-flex {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contant .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contant .d-flex .col {
  text-align: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contant .d-flex .col img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contant .d-flex .col h1 {
  color: #ef7819;
  padding: 20px 0;
  font-size: 30px;
}

.contant .d-flex .col:last-child {
  background-color: #222;
  padding: 20px;
  gap: 10px 0;
}

.contant .d-flex .col:last-child input,
.contant .d-flex .col:last-child textarea {
  border: none;
  padding: 10px;
  background-color: #141215;
  color: #fff;
  font-size: 18px;
  resize: none;
}

.contant .d-flex .col:last-child input:focus,
.contant .d-flex .col:last-child textarea:focus {
  outline: 2px solid #ef7819;
}

.contant .d-flex .col:last-child .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto 0;
}

.contant .d-flex .col:last-child .btn:hover {
  background-color: #ef7819;
}

.blog {
  margin-top: 40px;
}

.blog .row-2 {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.blog .row-2 .col-4 {
  background: #222;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.blog .row-2 .col-4 img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 100%;
  height: 250px;
}

.blog .row-2 .col-4 .text {
  padding: 20px;
}

.blog .row-2 .col-4 .text h3 {
  color: #ef7819;
  font-size: 24px;
  line-height: 1.6;
}

.blog .row-2 .col-4 .text p {
  margin: 10px 0;
  color: #fff;
  line-height: 1.8;
}

.blog .row-2 .col-4 .text .btn {
  margin-bottom: 20px;
}

.blog .row-2 .col-4 .text .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #fff3;
  padding-top: 15px;
}

.blog .row-2 .col-4 .text .d-flex i,
.blog .row-2 .col-4 .text .d-flex span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ef7819;
  cursor: pointer;
  font-size: 14px;
}

.blog .row-2 .col-4 .text .d-flex span {
  margin-left: 5px;
}

.blog .row-2 .col-4 .text .d-flex span:hover,
.blog .row-2 .col-4 .text .d-flex span:hover i {
  color: #fff;
}

.blog .row-2 .col-4:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 991px) {
  .blog .row-2 .col-4 {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media (max-width: 767px) {
  .blog .row-2 .col-4 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

footer {
  padding: 30px 0;
  margin-top: 20px;
  background: #000;
}

footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

footer .container h3 {
  color: #fff;
}

footer .container .box div {
  margin: 25px 0;
  cursor: pointer;
}

footer .container .box div i {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin-right: 5px;
  color: #ef7819;
}

footer .container .box div span {
  color: #aaa;
  font-size: 15px;
}

footer .container .box div:hover i {
  color: #fff;
  margin-right: 20px;
}

footer .container .box div:hover span {
  color: #ef7819;
}

.copyRight {
  border-top: 1px solid #fff3;
  text-align: center;
  color: #aaa;
  padding: 20px 0 0 0;
  font-size: 20px;
}

@media (max-width: 500px) {
  .copyRight {
    font-size: 14px;
  }
}

.copyRight span {
  color: #ef7819;
}
/*# sourceMappingURL=main.css.map */