* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

@import "other/variables";
@import "other/component";
@import "other/container";

body {
    background-color: $black;
    overflow-x: hidden;
}

// Start Navbar
nav {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: 0.3s linear;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 991px) {
            padding: 0;
        }
        @media (max-width: 820px) {
            padding: 0 3%;
        }
        div:first-child i {
            color: $mainColor;
            animation: upDown 3s linear infinite;
        }
        i {
            user-select: none;
            margin-right: 10px;
            font-size: 24px;
            color: #fff;
            transition: 0.3s;
            &:hover {
                color: $mainColor;
                cursor: pointer;
            }
        }
        @keyframes upDown {
            0%,
            100% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-10px);
            }
        }
        span {
            font-size: 22px;
            font-weight: bold;
            color: #fff;
        }
        .list {
            display: flex;
            @media (max-width: 820px) {
                flex-direction: column;
                gap: 20px 0;
                position: absolute;
                top: -270px;
                left: 0;
                background-color: #222;
                width: 100%;
                padding: 20px;
                transition: 0.3s linear;
            }
            li {
                margin: 0 15px;
                font-size: 18px;
                a {
                    color: #fff;
                    &:hover,
                    &.active {
                        color: $mainColor;
                    }
                }
            }
        }
        .open {
            top: 70px;
        }
        .fa-bars {
            display: none;
            @media (max-width: 820px) {
                display: inline-block;
            }
        }
    }
    &.active_nav {
        background-color: #222;
    }
}

// Start landing
.landing {
    height: 100vh;
    margin-bottom: 20px;
    .img.active {
        position: relative;
        top: 0;
        opacity: 1;
        transition: 0.3s linear;
        height: 100vh;
    }
    .img {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            text-align: center;
            width: 100%;
            h1 {
                font-size: 50px;
                @media (max-width: 450px) {
                    font-size: 30px;
                }
            }
            h3 {
                margin: 25px 0;
                font-size: 30px;
                font-weight: 400;
                @media (max-width: 450px) {
                    font-size: 20px;
                }
            }
        }
    }
    .control {
        display: flex;
        width: 90%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        .prev i,
        .next i {
            font-size: 40px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                color: $mainColor;
            }
        }
        .prev i {
            position: absolute;
            left: 20px;
        }
        .next i {
            position: absolute;
            right: 20px;
        }
        .disable {
            display: none;
        }
    }
}

// Start about-us
.about-us {
    margin-top: 20px;
    background-image: url(../img/about-bt.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    .container {
        display: flex;
        s div:first-child {
            flex-basis: 50%;
            @media (max-width: 767px) {
                flex-basis: 100%;
            }
        }
        h1 {
            font-size: 30px;
            color: $mainColor;
        }
        p {
            margin: 30px 0;
            color: #fff;
            line-height: 2;
            font-size: 18px;
        }
    }
}

// Start contant
.contant {
    margin-top: 40px;
    .d-flex {
        margin-top: 40px;
        display: flex;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        .col {
            text-align: center;
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            h1 {
                color: $mainColor;
                padding: 20px 0;
                font-size: 30px;
            }
        }
        .col:last-child {
            background-color: #222;
            padding: 20px;
            gap: 10px 0;
            input,
            textarea {
                border: none;
                padding: 10px;
                background-color: $black;
                color: #fff;
                font-size: 18px;
                resize: none;
                &:focus {
                    outline: 2px solid $mainColor;
                }
            }
            .btn {
                width: fit-content;
                margin: 5px auto 0;
                &:hover {
                    background-color: $mainColor;
                }
            }
        }
    }
}

// Start blog
.blog {
    margin-top: 40px;
    .row-2 {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        .col-4 {
            background: #222;
            flex-basis: 30%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            img {
                transition: 0.3s;
                max-width: 100%;
                height: 250px;
            }
            .text {
                padding: 20px;
                h3 {
                    color: $mainColor;
                    font-size: 24px;
                    line-height: 1.6;
                }
                p {
                    margin: 10px 0;
                    color: #fff;
                    line-height: 1.8;
                }
                .btn {
                    margin-bottom: 20px;
                }
                .d-flex {
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid #fff3;
                    padding-top: 15px;
                    i,
                    span {
                        transition: 0.3s;
                        color: $mainColor;
                        cursor: pointer;
                        font-size: 14px;
                    }
                    span {
                        margin-left: 5px;
                        &:hover,
                        &:hover i {
                            color: #fff;
                        }
                    }
                }
            }
            &:hover img {
                transform: scale(1.1);
            }
            @media (max-width: 991px) {
                flex-basis: 48%;
            }
            @media (max-width: 767px) {
                flex-basis: 100%;
            }
        }
    }
}

// Start Footer
footer {
    padding: 30px 0;
    margin-top: 20px;
    background: #000;
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 30px;
        h3 {
            color: #fff;
        }
        .box {
            div {
                margin: 25px 0;
                cursor: pointer;
                i {
                    transition: 0.2s linear;
                    margin-right: 5px;
                    color: $mainColor;
                }
                span {
                    color: #aaa;
                    font-size: 15px;
                }
                &:hover i {
                    color: #fff;
                    margin-right: 20px;
                }
                &:hover span {
                    color: $mainColor;
                }
            }
        }
    }
}

// Start copyRight
.copyRight {
    border-top: 1px solid #fff3;
    text-align: center;
    color: #aaa;
    padding: 20px 0 0 0;
    font-size: 20px;
    @media (max-width: 500px) {
        font-size: 14px;
    }
    span {
        color: $mainColor;
    }
}
